@import 'vars';
@import 'typography';
@import 'textAngular';
@import 'fontAwesome';
//why the fuck can't I import settings
@import 'foundation/foundation';
@import 'sideNav';

$primary-color: #8DDCED;
$grey:#434343;
$jet-black:#121212;
$cream:rgb(217,217, 217);

html,body{
    height:100%; 
    width:100%;
}

body{
    font-family: 'Cinzel Decorative', cursive;
    background-color: $grey;
    color: rgb(217,217, 217);
}

/* force scrollbar */
html { overflow-y: scroll; }

h1{
    font-size: 5em;
    color:rgb(217,217, 217);
}
h1,h2,h3,h4{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

h2,h3,h4{
    padding: .2em 0;
    color:$grey;
}

.h2_gallery{
    color:$cream;
}

.full-width{
    width: 100%;
}

.white-bg{
    background: white;
}

header{
    height:400px; //must match screen
    background-color: $grey;
}

.header_content{
    position: relative;
    top: 30%;
    // transform: translateY(-50%);
}


.about{
    background-color: $cream;
    color: $grey;
    margin: 1em 0;
    padding: 1em;
}

.angle-down{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 0;
}

footer{
    background-color:$cream;
}

// lightbox //

.close{
  cursor:pointer;
      font-size:2em;
    font-weight:bold;
    color:white;
    position:absolute;
    right: 10px;
    top:5px;
    text-decoration:none;
}

.full-lightbox{
  z-index: 1;
  position:absolute;
//   background:rgba(5,5,5,.8);

  width:100%;
  height:100%;
}

.img-container{
  position:fixed;
  box-shadow: black 0 0 5px;
  left: 50%;
  top:50%;
  transform: translateX(-50%)  translateY(-50%);
  

  img{
    border:5px solid white;
    outline: 1px solid black;
  }
}

.hidden{
  display:none;
}

// page snapping //

.page {
    position: relative;// so angle bracket sits at bottom
  width: 100vw;
  height: 100vh;
}

.page-container {
-webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;
}


/* ---- grid ---- */

.grid{
 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.text{
    padding: 1em;
}

// no meta tag hack
// .mobile > .grid-sizer, .mobile > .grid-item{
//     width: 100%;
// }

@media handheld, screen and (max-width: 40em){
    .grid-sizer, .grid-item {
        width: 100%;
    }
}

@media handheld, screen and (min-width: 40.6em){
    .grid-sizer, .grid-item {
        width: 32%;
        //change for borders
    }
}

.grid-item {
cursor: pointer;
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
    border: 1px solid white;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}