@import 'vars';
@import 'typography';
@import 'textAngular';
@import 'fontAwesome';
//why the fuck can't I import settings
@import 'foundation/foundation';
@import 'sideNav';

$primary-color: #8DDCED;
$grey:#434343;
$jet-black:#121212;

body{
    font-family: 'Cinzel Decorative', cursive;
    background-color: $grey;
    color: rgb(217,217, 217);
}

/* force scrollbar */
html { overflow-y: scroll; }

h1{
    font-size: 5em;
}
h1,h2,h3,h4{
    font-family: 'Cinzel Decorative', cursive;
    color:rgb(217,217, 217);
}

.white-bg{
    background: white;
}
/* ---- grid ---- */

.grid{
 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.text{
    padding: 1em;
}

@media screen and (max-width: 40em){
    .grid-sizer, .grid-item {
        width: 100%;
    }
}

@media screen and (min-width: 40.6em){
    .grid-sizer, .grid-item {
        width: 32%;//
    }
}

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
    border: 1px solid white;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}