<h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<img src="images/angular.png" height="100" />
<img src="images/gulp.png" height="100" />
<img src="images/browserify.png" height="100" />

<hr/>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>

<h4>A component</h4>
<example-component hero="home.hero">Component not loaded</example-component>

<!--{{home.quality}}-->

<h4>Some firebase content</h4>
<ul>
    <li ng-repeat="item in home.quality">{{item.$id}}</li>
</ul>

<h4>A CMS area</h4>
<div text-angular ng-model="home.htmlVariable"></div>