<div class="page-container">
	<header class="page">
		<div class="text-center header_content">
			<h1>bSpK</h1>
			<p>- Jewellery design -</p>
		</div>
		<div class="angle-down" ng-click="home.scrollTo('about')">
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>

	</header>

	<section id="about" class="about full-width page">
		<h2>About</h2>
			<h3>/bɪˈspəʊk/</h3>
			<p>bSpK jewellery design was created as a showcase for the work of goldsmith and Jewellery designer Jo Moorshead. Jo studied
				art and design at Wiltshire college during which time she became interested in jewellery design. This led to a bachelor
				of arts degree in jewellery at Middlesex university in London. During her university career Jo worked with modern materials
				such as acrylic and resin, and displayed work at various shows including ‘new designers’ in Islington. After graduating
				with honours Jo worked in jewellery workshops in Bath and Bradford on Avon. Jo now works from a private workshop creating
				handmade bSpK jewellery from engagement and wedding rings to dress and formalwear.</p>
		<div class="angle-down" ng-click="home.scrollTo('gallery')">
			<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
		</div>
	</section>

	<div class="row">
		<a name="gallery"></a>
		<h2 id="gallery" class="h2_gallery">Gallery</h2>
	</div>


	<div class="full-lightbox hidden">
		<div id="full-image1" class="img-container hidden">
			<i class="fa fa-times fa-2x close" aria-hidden="true"></i>
			<img src="images/ring1.jpeg" alt="" />
		</div>

		<div id="full-image2" class="img-container hidden">
			<i class="fa fa-times fa-2x close" aria-hidden="true"></i>
			<img src="images/ring2.jpeg" alt="" />
		</div>

		<div id="full-image3" class="img-container hidden">
			<i class="fa fa-times fa-2x close" aria-hidden="true"></i>
			<img src="images/ring3.jpeg" alt="" />
		</div>
	</div>

	<section id="siteHome" class="row grid">


		<div class="grid-sizer"></div>

		<!--not waiting for masonary-->
		<!--<div ng-repeat="image in home.images" class="grid-item">
		<img ng-src="images/{{image}}.jpeg" />        
	</div>-->

		<div class="grid-item">
			<img class="image" id="image1" src="images/ring1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring3.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring4.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring5.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring6.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring7.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/cuff1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/cuff2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace3.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace4.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace5.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace6.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace7.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace8.jpeg" />
		</div>
		<!--</div>-->

	</section>

	<div class="row">
		<div class="angle-down" ng-click="home.scrollTo('contact')"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></div>
	</div>

	<footer id="contact" class="page contact">
		<h2>Contact</h2>
		<p>JO MOORESHEAD</p>
		<p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:jo@bspk.design">jo@bspk.design</a></p>
		<p>All images copyright Jo Moorshead 2016</p>
	</footer>
</div>