<div class="row">
	<div class="small-12 columns text-center">
		<h1 class="text-center">bSpK</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns text-center">
		<p>- Jewellery design -</p>
	</div>
</div>

<div class="row">
	<div class="small-12 columns text-center">
		<p>
			<!--<i class="fa fa-phone primary" aria-hidden="true"></i>-->
			<i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:jo@bspk.design">jo@bspk.design</a>
		</p>
	</div>

</div>


<div class="row grid">
	<!--<div class="small-12 columns">-->
		<div class="grid-sizer"></div>

		<!--not waiting for masonary-->
		<!--<div ng-repeat="image in home.images" class="grid-item">
		<img ng-src="images/{{image}}.jpeg" />        
	</div>-->

		<div class="grid-item">
			<img src="images/ring1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring3.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring4.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring5.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring6.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/ring7.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/cuff1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/cuff2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace1.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace2.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace3.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace4.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace5.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace6.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace7.jpeg" />
		</div>
		<div class="grid-item">
			<img src="images/necklace8.jpeg" />
		</div>
	<!--</div>-->
	</div>
    <!---->